<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		{% load static %}
		<title>PETPPO Sign UP</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/welcome/" class="logo">PETPPO</a>
					<nav id="nav">
						<a href="/welcome/">Home</a>
						<a href="/review/location/">병원으로 찾기</a>
						<a href="/review/symptom/?symp_filter=전체">병명으로 찾기</a>
						{% if user.is_authenticated %}
                            <a href="/review/write/">리뷰작성하기</a>
                            <a href="/users/mypage/">마이페이지</a>
							<a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
						{% else %}
							<a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                            <a href="/users/signup/">회원가입</a>
						{% endif %}
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>


		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2 style="font-weight:bold;font-size:50px;">회원가입</h2>
						<p style="font-size:25px;">PETPPO와 함께하세요 </p>
					</header>
                        <div class="row mt-5">    <!--이메일 중복시 알림말-->
                            <div class="col-12" style="color:purple; font-size:20px">
                                {{ error }}<br>
                            </div>
                        </div>
                        <div style="width:70%;margin:auto;">
                            <form method="POST" action=".">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="email" style="font-size:18px;">이메일</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요 (최대 20글자)" required>
                                </div><br>
                                <div class="form-group">
                                    <label for="name" style="font-size:18px;">이름</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="이름을 입력하세요" required>
                                </div><br>
                                <div class="form-group">
                                    <label for="password" style="font-size:18px;">비밀번호</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요 (최대 20글자)" required>
                                </div><br>
                                <!--<div class="form-group">
                                    <label for="re-password">비밀번호확인</label>
                                     <input type="password" class="form-control" id="re-password" name="re-password" placeholder="비밀번호를 한 번 더 입력하세요" required/>
                                </div>-->
                                <div class="form-group">
                                    <label for="nickname" style="font-size:18px;">닉네임</label>
                                    <input type="text" class="form-control" id="nickname" name="nickname" placeholder="닉네임을 입력하세요" required>
                                </div><br>
                                <div class="form-group">
                                    <label for="addr" style="font-size:18px;">주소</label>
                                    <select name="addr_id" id="addr">
                                        <option value="광진구">광진구</option>
                                        <option value="강동구">강동구</option>
                                        <option value="송파구">송파구</option>
                                        <option value="강남구">강남구</option>
                                        <option value="서초구">서초구</option>
                                        <option value="관악구">관악구</option>
                                        <option value="동작구">동작구</option>
                                        <option value="금천구">금천구</option>
                                        <option value="영등포구">영등포구</option>
                                        <option value="구로구">구로구</option>
                                        <option value="양천구">양천구</option>
                                        <option value="강서구">강서구</option>
                                        <option value="중랑구">중랑구</option>
                                        <option value="노원구">노원구</option>
                                        <option value="도봉구">도봉구</option>
                                        <option value="강북구">강북구</option>
                                        <option value="성북구">성북구</option>
                                        <option value="동대문구">동대문구</option>
                                        <option value="성동구">성동구</option>
                                        <option value="용산구">용산구</option>
                                        <option value="중구">중구</option>
                                        <option value="종로구">종로구</option>
                                        <option value="은평구">은평구</option>
                                        <option value="서대문구">서대문구</option>
                                        <option value="마포구">마포구</option>
                                    </select>
                                </div><br>
                                <div class="form-group">
                                    <label for="kind" style="font-size:18px;">반려동물 종류</label>
                                    <input type="text" class="form-control" id="kind" name="kind" placeholder="반려동물의 종류를 입력하세요">
                                </div><br>
                                <div class="form-group">
                                    <label for="petage" style="font-size:18px;">반려동물 나이</label>
                                    <input type="number" class="form-control" id="petage" name="petage" placeholder="나이를 입력하세요">
                                </div><br>
                                <div class="form-group">
                                    <label for="petgender" style="font-size:18px;">반려동물 성별</label>
                                    <select name="petgener" id="petgender">
                                        <option value="남">남</option>
                                        <option value="여">여</option>
                                    </select>
                                </div><br>
                                <div style="text-align:center">
                                    <button type="submit" style="background-color:#25553d;width:30%;">가입</button></div><br><br><br><br>
                            </form>
                        </div>
					</div>
				</div>
			</section>


		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
            <script
              src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
              integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
              crossorigin="anonymous"
            ></script>
            <script
              src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
              integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
              crossorigin="anonymous"
            ></script>
            <script
              src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
              integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
              crossorigin="anonymous"
            ></script>


			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
					</div>
				</div>
			</footer>
</body>
</html>